<div ng-controller='LoginCtrl'>
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to your account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Email" ng-model='username'>
					<input type="password" name="pass" placeholder="Password" ng-model='password'>
					<input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click='login()'>
				  </form>
					
				  <div class="login-help">
					<a ui-sref="main.signUp">Sign up</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>










