<div class="decor"></div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" ng-controller="MenuCtrl">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Promotions</a>
    </div>
    <ul class="nav navbar-nav">
      	<li class="active"><a class="active" ui-sref="main.hello">Home</a></li>
      <li class="active"><a class="active" ui-sref="main.hello">Latest</a></li>
      <li class="active"><a class="active" ui-sref="main.contact">Contact</a></li>
    </ul>
    <div ng-include="'/views/header/userHeader.html'"></div>
  </div>
</nav>
