<span id="login" class="gray-font">
	<span class="navbar-text" ng-if="!isLoggedIn()">
		<a class="navbar-link" ui-sref="main.login">Login</a>
		<!--<a class="navbar-link" ui-sref="main.signUp">signUp</a>-->
	</span>
	<span class="user-header-container navbar-text" ng-if="isLoggedIn()">

		<a class="navbar-link">{{username}}</a>
		<a class="navbar-link">Add promotion</a>
		<img class="user-badge" ng-show="isManager()" src="../images/admin.png" title="Administrator">
		<img class="user-badge" ng-show="!isManager()" src="../images/user.png" title="Logged in">
		<a class="navbar-link" ng-click="logout()">Logout</a>
	</span>
</span>
